<div class="max-w-7xl mx-auto mb-5">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <ui-card></ui-card>
    <ui-card></ui-card>
    <ui-card></ui-card>
    <ui-card></ui-card>
    <ui-card></ui-card>
    <ui-card></ui-card>
  </div>
</div>

<div class="max-w-7xl mx-auto mb-5">
  <ui-tabs [selectedIndex]="1">
    <ui-tab-item label="Авторизация">
      <p>
        Watch straight from your phone, on the web or use connected devices to stream directly to the big screen.
      </p>
    </ui-tab-item>
    <ui-tab-item label="Управление пользователями">
      <p>
        Then we want to change that code to make our tabs component fully dynamic and generic:
      </p>
    </ui-tab-item>
    <ui-tab-item label="Управление интерфейсом">
      <p>
        Let's look at and understand the code at
      </p>
    </ui-tab-item>
  </ui-tabs>
  <ui-tabs [selectedIndex]="0">
    <ui-tab-item label="Авторизация">
      <p>
        Watch straight from your phone, on the web or use connected devices to stream directly to the big screen.
      </p>
    </ui-tab-item>
    <ui-tab-item label="Управление пользователями">
      <p>
        Then we want to change that code to make our tabs component fully dynamic and generic:
      </p>
    </ui-tab-item>
    <ui-tab-item label="Управление интерфейсом">
      <p>
        Let's look at and understand the code at
      </p>
    </ui-tab-item>
  </ui-tabs>
  <ui-tabs [selectedIndex]="2">
    <ui-tab-item label="Авторизация">
      <p>
        Watch straight from your phone, on the web or use connected devices to stream directly to the big screen.
      </p>
    </ui-tab-item>
    <ui-tab-item label="Управление пользователями">
      <p>
        Then we want to change that code to make our tabs component fully dynamic and generic:
      </p>
    </ui-tab-item>
    <ui-tab-item label="Управление интерфейсом">
      <p>
        Let's look at and understand the code at
      </p>
    </ui-tab-item>
  </ui-tabs>
</div>

<!--<div class="max-w-7xl mx-auto">-->
<!--  <ui-tabs [selectedIndex]="1">-->
<!--    <ui-tab-item label="Авторизация">-->
<!--      <p>-->
<!--        Watch straight from your phone, on the web or use connected devices to stream directly to the big screen.-->
<!--      </p>-->
<!--    </ui-tab-item>-->
<!--    <ui-tab-item label="Управление пользователями">-->
<!--      <p>-->
<!--        Then we want to change that code to make our tabs component fully dynamic and generic:-->
<!--      </p>-->
<!--    </ui-tab-item>-->
<!--    <ui-tab-item label="Управление интерфейсом">-->
<!--      <p>-->
<!--        Let's look at and understand the code at-->
<!--      </p>-->
<!--    </ui-tab-item>-->
<!--  </ui-tabs>-->
<!--</div>-->
