<div class="container">
  <ui-tabs [selectedIndex]="0">
    <ui-tabs-item label="Авторизация">
      <div class="border p-4">
        How to take a screenshot on your Mac. To take a screenshot
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Управление пользователями">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Управление интерфейсом">
      <div class="border p-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nisi.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 1">
      <div class="border p-4">
        How to take a screenshot on your Mac. To take a screenshot
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 2">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 3">
      <div class="border p-4">
        How to take a screenshot on your Mac. To take a screenshot
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 4">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 5">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 6">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 7">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 8">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
    <ui-tabs-item label="Тестовый модуль 9">
      <div class="border p-4">
        Функция — это блок из различных команд.
        С ней легко создавать порядок в коде программы,
        избавляясь от ненужных повторений и запутанных частей.
      </div>
    </ui-tabs-item>
  </ui-tabs>
</div>
